@model OSBOX.Data.Models.BusinessModel

@{
    ViewBag.Title = "Create";
}
@{
    Layout = "~/Views/Shared/_SystemIndexLayoutPage.cshtml";
}

<fieldset>
    <legend>
        Create a new business account for : 
        @Html.DisplayNameFor(model => model.Customer.ID_Code) : @Html.DisplayFor(model => model.Customer.ID_Code)

    </legend>


    @using (Html.BeginForm("Create", "Business", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CustomerId)
        <div class="col-md-12">

            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.FIN, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.FIN, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FIN)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CR, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CR, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CR)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SUTA, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.SUTA, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SUTA)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Entity, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Entity, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Entity)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Filing, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Filing, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Filing)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BFile, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.BFile, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BFile)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Status, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Status, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Status)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Info, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Info, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Info)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Div, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Div, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Div)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EFTPS, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.EFTPS, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EFTPS)
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>


        </div>
    }

    </fieldset>


@section Scripts {

    
    @* Call the JS Loadingmodal function from the otf.js file *@
    <script>
        $("form").submit(LoadingModal);
    </script>


}


