@model AKCPA.Data.Models.FileModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FileModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FileID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
