@model AKCPA.Data.Models.Business

@{
    ViewBag.Title = "Create";
}
@{
    Layout = "~/Views/Shared/_CRMSystemLayoutPage.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Business", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        <section id="loginForm">
           

                <h4>Business</h4>
                <hr />
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>
        

                <div class="form-group">
                    @Html.LabelFor(model => model.FIN_, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FIN_)
                        @Html.ValidationMessageFor(model => model.FIN_)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CR_, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CR_)
                        @Html.ValidationMessageFor(model => model.CR_)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SUTA_, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SUTA_)
                        @Html.ValidationMessageFor(model => model.SUTA_)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Entity, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Entity)
                        @Html.ValidationMessageFor(model => model.Entity)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Filing, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Filing)
                        @Html.ValidationMessageFor(model => model.Filing)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.B_File, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.B_File)
                        @Html.ValidationMessageFor(model => model.B_File)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Status)
                        @Html.ValidationMessageFor(model => model.Status)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Info, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Info)
                        @Html.ValidationMessageFor(model => model.Info)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Div, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Div)
                        @Html.ValidationMessageFor(model => model.Div)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EFTPS, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EFTPS)
                        @Html.ValidationMessageFor(model => model.EFTPS)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Customer.CustomerId, "CustomerId", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CustomerId", String.Empty)
                        @Html.ValidationMessageFor(model => model.Customer.CustomerId)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
  
      </section>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
