
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    ViewBag.Title = "Not Found";
}
<div><img src="~/Content/images/cross-icon.png" /></div>
<div class="well well-lg">
    <h1 class="text-danger">@ViewBag.Title</h1>
    <h2 class="text-danger">The requested resource is not found. Please check the address again</h2>

</div>


@*//More detailed error message*@

@*@model System.Web.Mvc.HandleErrorInfo

    @{
        ViewBag.Title = "Error";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    <div class="list-header clearfix">
        <span>Error</span>
    </div>
    <div class="list-sfs-holder">
        <div class="alert alert-error">
            An unexpected error has occurred. Please contact the system administrator.
        </div>
        @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
        {
            <div>
                <p>
                    <b>Exception:</b> @Model.Exception.Message<br />
                    <b>Controller:</b> @Model.ControllerName<br />
                    <b>Action:</b> @Model.ActionName
                </p>
                <div style="overflow:scroll">
                    <pre>
    @Model.Exception.StackTrace
                    </pre>
                </div>
            </div>
        }
    </div>*@