@{
    Layout = "~/Views/Shared/_SystemIndexLayoutPage.cshtml";
}

@model OSBOX.Data.Models.TaskModel

@{
    ViewBag.Title = "Create";
    SelectListItem[] CustomerNames = ViewBag.Customers;    
    SelectListItem[] EmployeeNames = ViewBag.Employees;
    SelectListItem[] TasksPrio = ViewBag.TasksPriorities;
    SelectListItem[] TasksStat = ViewBag.TasksStatus;
    

}
    <h2>Create a new task</h2>
    <hr />
<div class=" white-popup-block ">

    @using (Html.BeginForm("Create", "Task", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
          <div class="form-horizontal">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        
   
        
             <div class="form-group">
                 @Html.LabelFor(model => model.Name, new { @class = "control-label col-lg-2" })
                 <div class="col-lg-10">
                     @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "The title of the task",@type="text" })
                 </div>
             </div>
    

             <div class="form-group">
                 @Html.LabelFor(model => model.Priority, new { @class = "control-label col-lg-2" })
                 <div class="col-lg-10">
                     @Html.DropDownList("Priority", TasksPrio, new { @class = "form-control" })
                 </div>
             </div>

             <div class="form-group">
                 @Html.LabelFor(model => model.Status, new { @class = "control-label col-lg-2" })
                 <div class="col-lg-10">
                     @Html.DropDownList("Status", TasksStat, new { @class = "form-control" })
                 </div>
             </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Complete, new { @class = "control-label col-lg-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Complete, new { @class = "form-control", @placeholder = "Completion %" })
                @Html.ValidationMessageFor(model => model.Complete)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Employee_ID, new { @class = "control-label col-lg-2" })
            <div class="col-md-10">
                @Html.DropDownList("Employee_ID", EmployeeNames, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.CustomerID, new { @class = "control-label col-lg-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerID", CustomerNames, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "col-lg-2 control-label " })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = "8" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-lg-2" })
            <div class="col-md-10">
                @Html.JQueryUI().DatepickerFor(model => model.StartDate, new { @class = "form-control" }).MinDate(DateTime.Now)
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DueDate, new { @class = "control-label col-lg-2" })
            <div class="col-md-10">
                @Html.JQueryUI().DatepickerFor(model => model.DueDate, new { @class = "form-control" }).MinDate(DateTime.Now)
                @Html.ValidationMessageFor(model => model.DueDate)

            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.AssignementDate, new { @class = "control-label col-lg-2" })
            <div class="col-md-10">

                @Html.JQueryUI().DatepickerFor(model => model.AssignementDate, new { @class = "form-control" }).MinDate(DateTime.Now)
                @Html.ValidationMessageFor(model => model.AssignementDate)
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Attach file", new { @class = "control-label col-lg-2" })
            <div class="col-md-10">
                <input type="file" id="fileUpload" name="fileUpload" size="23"  />
            </div>
        </div>

        <p>

        </p>
        <p>

        </p>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.JQueryUI().Button("Create", new { id = "example5" })
                @*@Html.JQueryUI().Button("Create",new { id = "triggerButton"*@
                @*<input type="submit" value="Create" class="btn btn-default" />*@
            </div>
        </div>


              </div>
     
    }
</div>
    @*<div>
        @using (Html.JQueryUI().Begin(new Dialog().AutoOpen(false)
                .TriggerClick("#triggerButton")))
        {
            <p>Uploading your file(s)</p>
            <div>@Html.JQueryUI().Progressbar(null) </div>
        }
    </div>*@




