@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AKCPA.Data.Models.Invoice

@{
    ViewBag.Title = "CreateNew";
}
@{
    Layout = "~/Views/Shared/_CRMSystemLayoutPage.cshtml";
}
<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Invoice individully</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Invoice_Number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Invoice_Number)
                @Html.ValidationMessageFor(model => model.Invoice_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Invoice_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Invoice_Name)
                @Html.ValidationMessageFor(model => model.Invoice_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Invoice_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Invoice_Date)
                @Html.ValidationMessageFor(model => model.Invoice_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Invoice_Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Invoice_Amount)
                @Html.ValidationMessageFor(model => model.Invoice_Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Due_Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Due_Amount)
                @Html.ValidationMessageFor(model => model.Due_Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DueDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DueDate)
                @Html.ValidationMessageFor(model => model.DueDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Paid_Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Paid_Status)
                @Html.ValidationMessageFor(model => model.Paid_Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Payment_Term, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Payment_Term)
                @Html.ValidationMessageFor(model => model.Payment_Term)
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, "CustomerId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("CustomerId", new Int64(), new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.CustomerId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Customer.Business_Name, "Business_Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Business_Name", new Int64(), new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Customer.Business_Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Customer.Customer_Account, "Customer_Account", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Customer_Account", new Int64(), new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Customer.Customer_Account)
            </div>
        </div>
       
        
        
        
         <div class="form-group">
            @Html.LabelFor(model => model.Note, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note)
                @Html.ValidationMessageFor(model => model.Note)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




