@model AKCPA.Data.Models.Invoice

@{
    ViewBag.Title = "Details";
}
@{
    Layout = "~/Views/Shared/_CRMSystemLayoutPage.cshtml";
}
<h2>Details</h2>

<div>
    <h4>Invoice</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Business_Name) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Business_Name) .
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Customer_Account) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Customer_Account) .
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice_Number) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Invoice_Number) .
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice_Name) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Invoice_Name) .
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description) .
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice_Date) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Invoice_Date) .
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice_Amount) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Invoice_Amount) .
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Due_Amount) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Due_Amount) .
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DueDate) .
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paid_Status) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paid_Status) .
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment_Term) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Payment_Term) .
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note) .
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.CustomerId) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerId) .
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Invoice_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
