@model AKCPA.Data.Models.Invoice

@{
    ViewBag.Title = "PrintInvoice";
}

<h2>PrintInvoice</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AKCPA Invoice</title>
    <link rel="stylesheet" href="~/Content/CustomCSS/Invoice.css" media="all" />
</head>
<body bgcolor="#ffffff">
    <header class="clearfix">
        <div id="logo">
            <img src="~/Content/images/aklogo1.gif">
        </div>
        <h1>INVOICE</h1>
        <div id="company" class="clearfix">
            <div>Albert T. Kim CAP, P.A.</div>
            <div>4 East Rolling Crossroads, Suite 211, Cantonsville<br /> MD 21228, US</div>
            <div>(410) 719-1000</div>
            <div><a href="mailto:msoh@ak2cpa.com">msoh@ak2cpa.com</a></div>
        </div>
        <div id="project">
            <div><span>COMPANY</span> @Html.DisplayFor(model => model.Customer.Business_Name)</div>
            <div><span>CLIENT</span> @Html.DisplayFor(model => model.Customer.FullName) </div>
            <div>@foreach (var AddressItem in Model.Customer.Addresses)
            {<span>ADDRESS</span> @Html.DisplayFor(ModelItem => AddressItem.FullAddress)<br />} </div>
            <div><span>EMAIL</span> <a href="mailto:@Html.DisplayFor(model => model.Customer.Email)">@Html.DisplayFor(model => model.Customer.Email)</a></div>
            <div><span>DATE</span> @Html.DisplayFor(model => model.Invoice_Date)</div>
            <div><span>DUE DATE</span> @Html.DisplayFor(model => model.DueDate)</div>
        </div>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th class="service">PROFESSIONAL SERVICE</th>
                    <th class="desc">DESCRIPTION</th>
                    <th class="total">AMOUNT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="service">@Html.DisplayFor(model => model.Invoice_Name)</td>
                    <td class="desc">@Html.DisplayFor(model => model.Description)</td>
                    <td class="total">@Html.DisplayFor(model => model.Invoice_Amount)</td>
                </tr>
                @foreach (var PaymentItem in Model.Payments) {
                    <tr>
                        <td class="service">@Html.DisplayFor(ModelPayment => PaymentItem.Payment_Type.Payment_Name)</td>
                        <td class="desc">@Html.DisplayFor(ModelPayment => PaymentItem.Description)</td>
                        <td class="total"> - @Html.DisplayFor(ModelPaymetn => PaymentItem.Amount)</td>
                        
                    </tr>
                }
                <tr>
                    <td colspan="2">SUBTOTAL</td>
                    <td class="total">$5,200.00</td>
                </tr>
                <tr>
                    <td colspan="2">Payments/Credits</td>
                    <td class="total">$1,300.00</td>
                </tr>
                <tr>
                    <td colspan="2" class="grand total">GRAND TOTAL</td>
                    <td class="grand total">$6,500.00</td>
                </tr>
            </tbody>
        </table>
        <div id="notices">
            <div>NOTICE:</div>
            <div class="notice">@Html.DisplayFor(model => model.Note)</div>
        </div>
    </main>
    <footer>
        Invoice was created on a computer and is valid without the signature and seal.
    </footer>
</body>
</html>