@model  OSBOX.Data.Models.FolderModel
@if (!User.IsInRole("Customer"))
{
    Layout = "~/Views/Shared/_SystemIndexLayoutPage.cshtml";
}


<link href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/css/jquery.fileupload.css" rel="stylesheet" />

@{
    ViewBag.Title = "Folder Index";
    var folders = ViewBag.folders;
    SelectList CustomerNames = ViewBag.CustomerNames;
}

<h2>File management system</h2>


















<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">

                    @using (Html.BeginForm("UploadFileCompleteWithRedirect", "File", FormMethod.Post, new { enctype = "multipart/form-data", @class = "navbar-form navbar-left" }))
                    {

                        @Html.Hidden("ParentFolderID")

                     <!-- The fileinput-button span is used to style the file input field as button -->
                        <span class="btn btn-warning fileinput-button ">
                            <i class="fa fa-upload fa-x2"></i>

                            <span>Upload a file...</span>
                            <!-- The file input field used as target for the file upload widget -->
                            <input type="file" id="fileUpload" data-val="true" data-val-required="please select a file" name="fileUpload" />
                        </span>


                    }

                </li>
                @if (!Roles.IsUserInRole("Customer"))
                {

                    <li>
                        @using (Ajax.BeginForm("DeleteFolderComplete", "Folder",
                                new AjaxOptions
                                {
                                    Confirm = "Are you sure you want to delete this folder?",
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "displayme",
                                    LoadingElementId = "progress"
                                }, new { @class = "navbar-form navbar-left" }
                                ))
                        {

                            @Html.Hidden("Parent_Folder3")

                            <button class="btn btn-default" type="submit"><i class="fa fa-trash-o fa-lg"></i> Delete a folder</button>



                        }
                    </li>
                    <li>
                        @using (Ajax.BeginForm("getFolderStructureByCustomerAccount", "Folder",
                new AjaxOptions
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "displayme",
                    LoadingElementId = "progress"
                }, new { @class = "navbar-form navbar-left" }
                ))
                        {

                            @Html.DropDownList("CustomerId", CustomerNames, "Please select an ID code ...", new { @class = "form-control", onchange = "$(this.form).submit();" })

                        }
                    </li>



                    @*<form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" id="Folder_Name" class="form-control" placeholder="Create a new folder" data-val="true" data-val-required="please enter a folder name" name="Folder_Name" />
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>*@


                    <li>


                        @using (Ajax.BeginForm("Create_Folder_Complete", "Folder",
            new AjaxOptions
            {
                Confirm = "Are you sure you want to Create this folder?",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "displayme",
                LoadingElementId = "progress"
            }, new { @class = "navbar-form navbar-left" }
            ))
                        {

                            @Html.Hidden("Parent_Folder")


                            <input type="text" id="Folder_Name" class="form-control" placeholder="Create a new folder" data-val="true" data-val-required="please enter a folder name" name="Folder_Name" />

                            <button type="submit" class="btn btn-default">Submit</button>


                        }
                    </li>

                }  @*End of If to check if it's a customer or not*@
            </ul>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>










<div id='SpinnerFileAnimation' hidden="hidden"> <i class="fa fa-spinner fa-spin fa-3x"></i> </div>

<div id="progressFile" class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped"></div>
</div>
<div id="UploadComplete" class="alert-success">  </div>






















<div id="progress" hidden="hidden">
    <i class="fa fa-spinner fa-spin fa-3x"></i>Loading...
</div>


<div id="displayme">
    <div id="progress" class="modalLoading "></div>
    @Html.Partial("_Folders_Structure")
</div>



@section scripts{

    @*  The CDN Scripts for JQuery file upload *@
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.js"></script>

    <script>
    $(function () {



        $('#fileUpload').fileupload({
            //dataType: 'json',

            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    $('<p/>').text(file.name).appendTo(document.body);
                });
                //data.context.text('Upload finished.');
            },

            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progressFile .progress-bar').css(
                    'width',
                    progress + '%'
                );
            }

            //done: function (e, data) {
            //    //data.context.text('Upload finished.');
            //    //$('#TexttoDisplay').text('Upload finished');
            //    alert("Hello! I am an alert box!");
            //}


        });

    });


    $(function () {
        $('#fileUpload').fileupload({
            //dataType: 'json',
            add: function (e, data) {
                //Hide the upload complete message if a user want to start a new upload
                $("#SpinnerFileAnimation").toggle();
                $("#UploadComplete").html("");
                $('#progressFile .progress-bar').css('width', 0);
                data.context = $('<p/>').text('Uploading...').appendTo('#progressFile');
                data.submit();
            },
            done: function (e, data) {
                //alert(URLPath);
                $("#SpinnerFileAnimation").toggle();
                data.context.text('Upload finished.').appendTo('#UploadComplete');
                //reload the partial view
                    var CusID = $("#CustomerId").val();
                    $("#displayme").load('@(Url.Action("getFolderStructureByCustomerAccount", "Folder"))?CustomerID=' + CusID);

            }
        });
    });


    </script>
}
















