@model  OSBOX.Data.Models.FolderModel
﻿@if (!User.IsInRole("Customer"))
{
    Layout = "~/Views/Shared/_SystemIndexLayoutPage.cshtml";
}
@{
    ViewBag.Title = "Folder Index";
    var folders = ViewBag.folders;
    
    SelectListItem[] CustomerNames = ViewBag.CustomerNames;
}

<h2>File management system</h2>

@using (Html.BeginForm("UploadFileCompleteWithRedirect", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.Hidden("ParentFolderID")
    @*@Html.Hidden("TaskID")
   
    <script>
        document.getElementById("TaskID").value = "";
    </script>*@
   
    
    <div class="row">
        <div class="col-sm-3">
            <div class="input-group">
                <input type="file" id="fileUpload" data-val="true" data-val-required="please select a file" name="fileUpload" size="23" />
                @Html.ValidationMessage("fileUpload")



            </div><!-- /input-group -->
        </div><!-- /.col-sm-6 -->
        <div class="col-sm-9">
            <div class="input-group">


                <button class="btn btn-info" type="submit">Upload file</button>
            (File size limit: 20 MB)
            </div><!-- /input-group -->
        </div><!-- /.col-sm-6 -->
    </div>

}

@if (!Roles.IsUserInRole("Customer"))
{


    using (Ajax.BeginForm("Create_Folder_Complete", "Folder",
                                new AjaxOptions
                                {
                                    Confirm = "Are you sure you want to Create this folder?",
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "displayme",
                                    LoadingElementId = "progress"
                                }
                                ))
    {

        @Html.Hidden("Parent_Folder")

        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Create a new folder</button>
                    </span>

                    <input type="text" id="Folder_Name" data-val="true" data-val-required="please enter a folder name" name="Folder_Name" size="23" class="form-control" />
                    @Html.ValidationMessage("Folder_Name", "Folder Name is Mandatory Field!")

                </div>

            </div><!-- /input-group -->
        </div><!-- /.col-sm-6 -->

    }

    using (Ajax.BeginForm("getFolderStructureByCustomerAccount", "Folder",
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "displayme",
                                    LoadingElementId = "progress"
                                }
                                ))
    {
        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.Label("Pick a Customer", new { @class = "control-label col-lg-2" })
                        <div class="col-lg-10">
                            @Html.DropDownList("CustomerID", CustomerNames, new { @class = "form-control", onchange = "$(this.form).submit();" })
                        </div>
                    </div>

                </div><!-- /input-group -->
            </div><!-- /.col-sm-6 -->

        </div>
   
    }




    using (Ajax.BeginForm("DeleteFolderComplete", "Folder",
                                new AjaxOptions
                                {
                                    Confirm = "Are you sure you want to delete this folder?",
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "displayme",
                                    LoadingElementId = "progress"
                                }
                                ))
    {

        @Html.Hidden("Parent_Folder3")
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Delete a folder</button>
        </span>
    }
}  @*End of If to check if it's a customer or not*@

<div id="progress" class="modalLoading">
</div>


<div id="displayme">
    @*<div id="progress">
            <img src="~/Content/images/ajax-loader.gif" />
            <b> Please Wait!</b>
        </div>*@
    <div id="progress" class="modalLoading ">
    </div>

    @Html.Partial("_Folders_Structure")




</div>




















