@{
    Layout = "~/Views/Shared/_SystemIndexLayoutPage.cshtml";
}

@model OSBOX.Data.Models.CustomerModel

@{
    ViewBag.Title = "Create";
    SelectListItem[] Users = ViewBag.Users;
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CustomerModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Customer User Name", new { @class = "control-label col-md-2" })
            <div class="col-md-110">
                @Html.DropDownList("UserId", Users)

            </div>
        </div>

        
        <div class="form-group">
            @Html.LabelFor(model => model.Name_Prefix, new { @class = "control-label col-md-2" })
            <div class="col-md-110">
                @Html.EditorFor(model => model.Name_Prefix)
                @Html.ValidationMessageFor(model => model.Name_Prefix)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Last_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-110">
                @Html.EditorFor(model => model.Last_Name)
                @Html.ValidationMessageFor(model => model.Last_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Middle_name, new { @class = "control-label col-md-2" })
            <div class="col-md-110">
                @Html.EditorFor(model => model.Middle_name)
                @Html.ValidationMessageFor(model => model.Middle_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.First_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-110">
                @Html.EditorFor(model => model.First_Name)
                @Html.ValidationMessageFor(model => model.First_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Business_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-110">
                @Html.EditorFor(model => model.Business_Name)
                @Html.ValidationMessageFor(model => model.Business_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LegalName, new { @class = "control-label col-md-2" })
            <div class="col-md-110">
                @Html.EditorFor(model => model.LegalName)
                @Html.ValidationMessageFor(model => model.LegalName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone_Number, new { @class = "control-label col-md-2" })
            <div class="col-md-110">
                @Html.EditorFor(model => model.Phone_Number)
                @Html.ValidationMessageFor(model => model.Phone_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cell_Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-110">
                @Html.EditorFor(model => model.Cell_Phone)
                @Html.ValidationMessageFor(model => model.Cell_Phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fax, new { @class = "control-label col-md-2" })
            <div class="col-md-110">
                @Html.EditorFor(model => model.Fax)
                @Html.ValidationMessageFor(model => model.Fax)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-110">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_Code, new { @class = "control-label col-md-2" })
            <div class="col-md-110">
                @Html.EditorFor(model => model.ID_Code)
                @Html.ValidationMessageFor(model => model.ID_Code)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
