@{
	Layout = "~/Views/Shared/_SystemIndexLayoutPage.cshtml";
}


@model PagedList.IPagedList<OSBOX.Data.Models.CustomerModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />










@*@model IEnumerable<scheduleMVC.Models.CustomerModel>*@


@{
	ViewBag.Title = "Customers' List";
}

<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm("Index", "Customer", FormMethod.Get))
{

		<div class="row">
			<div class="col-lg-6">
				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-info" type="submit">Find by business name <span class="glyphicon glyphicon-search"></span></button>
					</span>
					<input type="text" class="form-control" name="SearchString">
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
			<div class="col-lg-6">
				<div class="input-group">
				  
					<span class="input-group-btn">
					   
						<a href="/Account/RegisterCustomer" class="btn btn-info">Create new</a>
					</span>
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
		 </div>



}
<hr />
<table class="table table-bordered table-responsive  table-hover">
	<thead>
		<tr>


			<th>
				@Html.ActionLink("Business Name", "Index", new { sortOrder = ViewBag.NameSortParm })
			</th>
			<th>
			   @Html.ActionLink("ID Code", "Index", new { sortOrder = ViewBag.IDCodeSortParm })
			  
			</th>
			<th>
				@Html.DisplayNameFor(model =>  model.FirstOrDefault().First_Name)
			</th>

			<th>
				@Html.DisplayNameFor(model => model.FirstOrDefault().Last_Name)
			</th>

			<th>
				@Html.DisplayNameFor(model => model.FirstOrDefault().Phone_Number)
			</th>

			<th>
				@Html.DisplayNameFor(model => model.FirstOrDefault().Email)
			</th>
			<th>
				Options
			</th>
		</tr>
	</thead>

		@foreach (var item in Model)
		{
			<tr>

				<td>
					@Html.DisplayFor(modelItem => item.Business_Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ID_Code)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.First_Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Last_Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Phone_Number)
				</td>
				<td>
					<a href="mailto:">@Html.DisplayFor(modelItem => item.Email)</a>
				</td>
				
				@* ---------------------------------------------------------------- *@
				@* ----------------------- The options menu ------------------------*@
				<td>

					<div class="btn-group">
						<a class="btn btn-info" href="#"><i class="fa fa-wrench fa-fw"></i></a>
						<a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="fa fa-caret-down"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
							  
									@Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }, new { @class = "ajax-popup-link" })
								@*<a data-toggle="modal" href="@Url.Action("Edit", "Customer", new { id = item.CustomerId })" data-target="#responsive">Edit</a>*@
							</li>
							<li>
						  @*@Html.ActionLink("Details", "Details", new { id = item.CustomerId }, new { @class = "ajax-popup-link" })*@
								<a data-toggle="modal" href="@Url.Action("details", "Customer", new { id = item.CustomerId })" data-target="#responsive">Details</a>
							</li>
							<li>
								@Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })
								@*<a data-toggle="modal" href="@Url.Action("Delete", "Customer", new { id = item.CustomerId })" data-target="#responsive">Delete</a>*@
							</li>
                            <li>
                                <a href="@Url.Action("Index", "Address", new { CustomerID = item.CustomerId })">Addresses</a>
                            </li>                         
							
                            <li class="divider"></li>
                            <li>
                              
                                <a href="@Url.Action("Create", "Invoice", new { CustomerID = item.CustomerId })">Create Invoice</a>
                            </li>
                            <li class="divider"></li>
							<li>
							@*@Html.ActionLink("Reset Password", "ResetPassword", new { id = item.CustomerId }, new {data_toggle="modal", @class="btn btn-info", data_target="#responsive" })*@
								@*<a data-toggle="modal" href="@Url.Action("ResetPassword", "Customer", new { CustomerID = item.CustomerId })" data-target="#responsive">Reset Password</a>*@
								<a href="@Url.Action("ResetPassword", "Customer", new { CustomerID = item.CustomerId })" >Reset Password</a>
							</li>
                            
							
						</ul>
					</div>
				</td>
				@* ----------------------------------------------------------------- *@
				@* ------------------------ End of options menu -------------------- *@



			</tr>
		}

</table>
@*@Html.ActionLink("Reset All Passwords", "ResetAllPasswords")*@
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
	new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))








@*
	////////////////////////////////
	@* popup integration*@
@*   ////////////////////////////////*@


	<div id="responsive" class="modal container fade " data-backdrop="static" data-keyboard="false"  tabindex="-1" style="display: none;">

	<div class="modal-body">
		<i class="fa fa-spinner fa-spin fa-4x"></i> Loading data, please wait
	</div>

</div>


	@*<button class="demo btn btn-primary btn-large" data-toggle="modal"  href="#responsive"  >View Demo</button>*@
	@*<a data-toggle="modal" class="btn btn-info" href="~/Customer/Details/32" data-target="#responsive">Click me !</a>*@
@section scripts {

@*<script>

	//To clear the content of the modal
	$('body').on('hidden.bs.modal', '.modal', function () {
		$(this).removeData('bs.modal');
	});
	
</script>*@


@*To show a notification message*@
<script>
	
	if ("@ViewBag.Notificationmessage" != "")
	{
		var PurrNotice = ' <div class="alertNotification alert-success alert-centered"> <i class="fa fa-info-circle fa-2x"></i> ' + '@Html.Raw((string)ViewBag.Notificationmessage)' + '</div>';
	$(PurrNotice).purr();
	}

</script>
	}