



@{
    ViewBag.Title = "Customer";
}

<h2>Customer Portal</h2>
<div class="jumbotron">
    <div class="container">
        

            <h1>Welcome to AK customer portal</h1>
        <h4><span class="label label-default">This portal allows us to work together efficiently by securely exchanging working documentsand accessing all the system functionalities</span></h4>
        
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">S-chedule</h3>
            </div>
            <div class="panel-body">
                
                <ul class="nav nav-pills nav-stacked ">
                    <li class="label-info">
                        <a href="@Url.Action("Index", "Task")">
                            <span class="badge pull-right"> @ViewBag.tasks</span>
                            View tasks
                        </a>

                    </li>
                    <li class="label-info">
                        @*<a href="@Url.Action("Index", "Folder")">
                            <span class="badge pull-right">@ViewBag.files</span>
                            Manage files
                        </a>*@
                    </li>
                    <li class="label-info">
                        <a href="@Url.Action("Index", "Calendar")">
                            
                            View calendar
                        </a>
                    </li>

                </ul>
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">CRM</h3>
            </div>
            <div class="panel-body">

                <ul class="nav nav-pills nav-stacked ">
                    <li class="label-success">
                        <a href="@Url.Action("Index1", "Invoice", new RouteValueDictionary(new{Customer_Id= 201}))">

                            View Invoice
                        </a>
                    </li>
                    <li class="label-success">
                        <a href="@Url.Action("Index", "Folder")">
                            <span class="badge pull-right">@ViewBag.files</span>
                            My files
                        </a>
                    </li>
                    <li class="label-success">
                        <a href="@Url.Action("Index", "Calendar")">

                            Functionality 3 (Coming soon)
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    @*<div class="col-md-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">LMS</h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked ">
                    <li class="label-warning">
                        <a href="@Url.Action("Index", "Calendar")">

                            Functionality 1 (Coming soon)
                        </a>
                    </li>
                    <li class="label-warning">
                        <a href="@Url.Action("Index", "Calendar")">

                            Functionality 2 (Coming soon)
                        </a>
                    </li>
                    <li class="label-warning">
                        <a href="@Url.Action("Index", "Calendar")">

                            Functionality 3 (Coming soon)
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>*@
</div>